body{
    font-family: Circular,Helvetica,Arial,sans-ser
}
div#root-top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background: #fafafb;
    border-top: solid 8px #0ccef9;
    box-sizing: border-box;
    box-shadow: inset 0 -7px 9px -9px rgba(0,0,0,0.4);
}
div#root-nav{
    position: fixed;
    top: 100px;
    left: 0;
    width: 220px;
    height: calc(100vh - 100px);
    background-color: #ffffff;
    box-sizing: border-box;
    border-right: solid 1px #e3e3e4;
}
div#root-page{
    position: fixed;
    top: 100px;
    left: 220px;
    width: calc(100vw - 220px);
    height: calc(100vh - 100px);
}
a.title{
    font-size: 28px;
}
a.subtitle{
    font-size: 18px;
    color: #3e3e3e;
}
a.unselectable{
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
table{
    width: 100%;
}


/* title */
div#top-title{
    position: relative;
    left: 32px;
    top: 46px;
    line-height: 0px;
}
img.logo-jads{
    position: absolute;
    right: 48px;
    top: -26px;
    height: 52px;
}

/* navigation */
div#root-nav-options{
    position: absolute;
    left: 48px;
    top: 24px;
    width: 171px;
}
div.navigate{
    background-color: #ffffff;
    padding: 10px;
    color: #3e3e3e;
    -webkit-transition: color 250ms cubic-bezier(.3,0,.7,1);
    -webkit-transition-property: background-color, color;
    transition: color 250ms cubic-bezier(.3,0,.7,1);
    transition-property: background-color, color;
    cursor: auto;
}
div.navigate:hover{
    cursor: pointer;
    color: #000000;
}
div.navigate-active{
    background-color: #f3f3f3;
    box-sizing: border-box;
    border-right: solid 4px #0ccef9;
}
a.navigate{
    font-size: 20px;
    margin-left: 24px;
}

/* content */
div#page-expl{
    position: absolute;
    top: 32px;
    left: 32px;
    width: calc(100vw - 284px);
}
a.page-header{
    font-weight: bold;
    font-size: 18px;
}
a.page-content{
    font-size: 18px;
}
td.page-expl-left{
    width: 200px;
    padding-bottom: 32px;
    vertical-align: top;
}
td.page-expl-right{
    vertical-align: top;
}

/* page: case*/
div#page-nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    border-right: solid 1px #e3e3e4;
    box-shadow: inset 20px 0px 45px -24px #e3e3e48f;
}
div#page-body{
    position: absolute;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: auto;
}
div#page-body-inner{
    position: absolute;
    top: 32px;
    left: 32px;
    width: calc(100% - 64px);
    height: calc(100% - 64px);
}
div#page-nav-options{
    position: absolute;
    left: 48px;
    top: 68px;
    width: 151px;
}

div.navigate-small{
    position: relative;
    height: 28px;
    color: #3e3e3e;
    -webkit-transition: color 250ms cubic-bezier(.3,0,.7,1);
    -webkit-transition-property: background-color, color;
    transition: color 250ms cubic-bezier(.3,0,.7,1);
    transition-property: background-color, color;
    cursor: auto;
}
div.navigate-small:hover{
    cursor: pointer;
    color: #000000;
}
a.navigate-small{
    font-size: 12px;
    margin-left: 24px;
}

div#page-case-nav-title{
    position: absolute;
    top: 38px;
    left: 48px;
}
a.navtitle{
    font-size: 12px;
}

div#page-body-titlebar{
    position: relative;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
}
div#page-body-titlebar-icon{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
}
div#page-body-titlebar-title{
    position: absolute;
    top: 22px;
    left: 120px;
}
div#page-body-titlebar-subtitle{
    position: absolute;
    top: 55px;
    left: 120px;
}
i.titleicon{
    font-size: 80px;
    color: #3e3e3e;
}
div#page-body-description{
    position: relative;
    top: 20px;
    left: 0;
    width: 100%;
    height: fit-content;
}
table#page-body-attr{
    position: relative;
    top: 50px;
}
table#page-body-features{
    position: relative;
    top: 50px;
}
td.page-body-attr-left{
    width: 300px;
    padding-bottom: 15px;
    vertical-align: top;
}



td.page-body-attr-middle{
    width: 70px;
}
div.page-body-attr-wdiv{
    position: relative;
    height: 37px;
}
div.page-body-attr-wdiv-i{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
}
i.page-body-attr-wi{
    font-size: 20px;
    font-weight: bold;
}
i.page-body-attr-wi-pos{
    color: #00aa00;
}
i.page-body-attr-wi-neg{
    color: #aa0000;
}
div.page-body-attr-wdiv-a{
    position: absolute;
    top: 0px;
    left: 25px;
}
a.page-body-attr-wa{
    font-size: 14px;
}


div.page-nav-opt{
    transform: scaleY(1);
    transform-origin: top;
    transition: transform, height 250ms cubic-bezier(.3,0,.7,1);

    -webkit-transform: scaleY(1);
    -webkit-transform-origin: top;
    -webkit-transition: -webkit-transform, height 250ms cubic-bezier(.3,0,.7,1);
}
div.page-nav-opt-disabled{
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    height: 0px;
}
div.page-nav-opt-sub{
    left: 10px;
    width: 141px;
}
a.clickable{
    cursor: pointer;
}


i.navicon-small{
    font-size: 24px;
    color: #3e3e3e;
}

div.nav-opt-text-small{
    position: absolute;
    top: 5px;
    left: 10px;
}
div.nav-opt-icon-small{
    position: absolute;
    top: 2px;
    left: 2px;
    height: 24px;
    width: 24px;
}