<div id="page-case">
    <div id="page-nav">
        <div id="page-case-nav-title">
            <a class="navtitle">Information sources</a>
        </div>
        <div id="page-nav-options">
            <!--<div id="page-nav-0" class="page-nav-opt navigate-small navigate-active" onclick="navigate('page', 0);">
                <div class="nav-opt-icon-small"><i class="navicon-small fa fa-bar-chart"></i></div>
                <div class="nav-opt-text-small"><a class="navigate-small unselectable">Source 1</a></div>
            </div>
            <div id="page-nav-1" class="page-nav-opt navigate-small" onclick="navigate('page', 1);">
                <div class="nav-opt-icon-small"><i class="navicon-small fa fa-cloud-download"></i></div>
                <div class="nav-opt-text-small"><a class="navigate-small unselectable">Source 2</a></div>
            </div>-->
        </div>
    </div>
    <div id="page-body">
        <div id="page-body-inner">
            <div id="page-body-titlebar">
                <div id="page-body-titlebar-icon"><i id="page-body-titlebar-icon-i" class="titleicon fa"></i></div>
                <div id="page-body-titlebar-title"><a id="page-body-titlebar-title-a" class="title"></a></div>
                <div id="page-body-titlebar-subtitle"><a id="page-body-titlebar-subtitle-a" class="subtitle"></a></div>
            </div>
            <div id="page-body-description"><a id="page-body-description-a" class="page-content"></a></div>

            <table id="page-body-attr">
                <tr>
                    <td class="page-body-attr-left"><a class="page-header">Author</a></td>
                    <td class="page-expl-right"><a id="page-body-attr-author" class="page-content"></a></td>
                </tr>
                <tr>
                    <td class="page-body-attr-left"><a class="page-header">Organization</a></td>
                    <td class="page-expl-right"><a id="page-body-attr-organization" class="page-content"></a></td>
                </tr>
                <tr>
                    <td class="page-body-attr-left"><a id="page-body-attr-year-cap" class="page-header">Year</a></td>
                    <td class="page-expl-right"><a id="page-body-attr-year" class="page-content"></a></td>
                </tr>
                <tr>
                    <td class="page-body-attr-left"><a class="page-header">Observations</a></td>
                    <td class="page-expl-right"><a id="page-body-attr-observations" class="page-content"></a></td>
                </tr>
                <tr id="page-body-attr-ref">
                    <td class="page-body-attr-left"><a class="page-header">Reference</a></td>
                    <td class="page-expl-right"><a id="page-body-attr-reference" target="_blank" class="page-content">available</a></td>
                </tr>
            </table>

            <table id="page-body-features">
                <!--<tr>
                    <td class="page-body-attr-left"><a class="page-header">Feature 1</a></td>
                    <td class="page-expl-right"><a id="page-body-f1" class="page-content">10</a></td>
                </tr>-->
            </table>

        </div>
    </div>
</div>