<div id="page-expl">
    <table>
        <tr>
            <td class="page-expl-left"><a class="page-header">Decision</a></td>
            <td class="page-expl-right"><a id="page-expl-decision" class="page-content"></a></td>
        </tr>
        <tr>
            <td class="page-expl-left"><a class="page-header">Leading rationale</a></td>
            <td class="page-expl-right"><a id="page-expl-rationale1" class="page-content"></a></td>
        </tr>
        <tr>
            <td class="page-expl-left"><a class="page-header">Qualifier</a></td>
            <td class="page-expl-right"><a id="page-expl-qualifier" class="page-content"></a></td>
        </tr>
        <tr>
            <td class="page-expl-left"><a class="page-header">Backing</a></td>
            <td class="page-expl-right"><a id="page-expl-backing" class="page-content"></a></td>
        </tr>
    </table>
</div>